<div class="sidebar">
  <div class="sidebar-header">
    <img src="path_to_profile_picture.jpg" alt="Profile Picture" class="profile-picture">
    <div class="user-info">
      <h4>Hello <span>Stefan</span></h4>
      <p>Your plan: <span>Free</span></p>
    </div>
  </div>
  <nav class="nav flex-column">
    <a class="nav-link active" href="#">Overview</a>
    <a class="nav-link" href="#">Meals</a>
    <a class="nav-link" href="#">User Account</a>
    <a class="nav-link" href="#">Order History</a>
    <a class="nav-link" href="#">Reviews</a>
    <a class="nav-link" href="#">User Recipes</a>
    <a class="nav-link" href="#">Log out</a>
  </nav>
</div>
